In [1]:
# Creating list
l1 = list(range(1, 11))

squared = [n**2 for n in l1]

# summation
sum = sum(squared)

print("Previous List:", l1)
print("Squared List:", squared)
print("Sum:", sum)

Previous List: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Squared List: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
Sum: 385

In [4]:
# Creating tuple
t1=tuple(i for i in range(2,12,2))

# Finding the product
p=1
for i in t1:
    p *=1

# Print
print("Even Numbers Tuple:", t1)
print("Product of Elements:", p)

Even Numbers Tuple: (2, 4, 6, 8, 10)
Product of Elements: 1

In [5]:
# two set
o1 = set(i for i in range(3, 10, 2))
o2 = set(i for i in range(1, 10, 2))

# union
union = o1.union(o2)
print("Union :", union)

# intersection
intersec = o1.intersection(o2)
print("Intersection:", intersec)

Union : {1, 3, 5, 7, 9}
Intersection: {9, 3, 5, 7}

In [6]:
# alphabet dictionary
alphadict = {}
for char in 'abcde':
    alphadict[char] = ord(char)

print("Alphabet Dictionary:", alphadict)

Alphabet Dictionary: {'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101}

In [7]:
def square(x):
    return x*x
#lambda function
l1 = list(range(1, 11))
squared = list(map(lambda x: square(x), l1))


print("Original List:", l1)
print("Squared Result:", squared)

Original List: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Squared Result: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]